
.clock {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 3em;
    margin-left: 50px;
}

h3 {
    margin-left: 50px;
    margin-top: 50px;
    color: rgb(87, 141, 54);
}